body {
    padding: 20px;
    background-image: url("./image/scott-webb-fTEFBwIELQ0-unsplash\ \(1\).jpg");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #cccccc;
    color: black;
}

ul {list-style: none;
    display: flex;
    gap: 10px;
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration:none;
}

a:visited{
    color: black;
}

a:hover{
    color: white;
}

a:active{
    color: red;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1:hover{
    color: red;
}

h2{
    font-size: 26px;
    width: 290px;
    text-align: center;
}

h4{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: red;
    border: none;
    border-radius: 4px;
    padding: 10px 30px;
    text-align: center;
    margin: 10px;
    transition-duration: 0.4ms;
}

.button:hover{
    background-color: white;
    color: black;
}

.button:active{
    background-color: white;
    color: red;
}

.header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    justify-content:space-between;
    align-content: flex-start;
    height: 60%;
}

.S1-content{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 290px;
    
}
